canvas {
    display: block;
}

#gameCanvas {
    background: #001022;
}

#gameComplete {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 0;
    text-align: center;
}

#gameStats {
    font-size: 20px;
    margin: 20px 0;
}

#gameStats .gameReset {
    margin: 20px 20px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}